@import 'variables';

.cards {
  display: flex;
  min-height: calc(100vh - #{$header-height});
  justify-content: space-around;
  align-items: center;
  max-width: 920px;
  margin: auto;

  @media (max-width: 949px) {
    flex-direction: column;

    .card:nth-child(2) {
      order: -1;
    }
  }

  @media (min-width: 950px) {
    padding-right: 55px;
    padding-left: 55px;
  }
}
