$app-background: #f1f1f1;
$divider: #ebebeb;
$box-shadow: rgba(#333, .1);
$card-footer: #f8f8f8;

$font-color: #737C84;
$font-color-light: #B4B4B4;

$weather-cold: #69A3FF;
$weather-normal: #FF9632;
$weather-warm: #ED1946;

$black: #000;
$white: #fff;
